
<%# if @book.cover.present? %>
    <%= image_tag @book.cover.url(:small), height: 100 %>
<%# end %>

<p>Title: <%= @book.title %></p>
<p>Author: <%= @book.author %></p>
<p>Quantity Available: 
    <span class='quantity'><%= @book.quantity %></span>
</p>

<%= link_to "Buy it now!", 
            purchase_book_path(@book), 
            remote: true, 
            method: :post, 
            class: 'purchase' %>
<%= link_to "Back to List", books_path %> |
<%= link_to "Edit Book", edit_book_path(@book) %>

<script>


    $(function() {
       $(".purchase").on("ajax:success", function(e, book) {
         $(".quantity").html(book.quantity);
       });
    });
</script>